@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<h1>@ViewData["Title"]</h1>
<p>
    Merci de verifier vos email pour pour la reinitialisation de votre mot de passe.
</p>

