@page
@model LockoutModel
@{
    ViewData["Title"] = "Fermeture du compte";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> Votre compte à été fermez. Réessayer  ultérieurement</p>
</header>
