@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset du mot  de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">Cliquez ici pour vous identifier</a>.
</p>
