@{
    ViewData["Title"] = "Home";
}


<h1>BIENVENUE</h1>

<h4>Bonjour, </h4> 
<p>
    Nous sommes ravis de vous accueillir sur notre futur jeu en ASP-NET
</p>
<p>Pour l'instant vous pouvez retrouver sur notre site les personnages</p>
<p>Une aventure extraordinaire !</p>