@{
    ViewData["Title"] = "Home";
}


<h1>BIENVENUE</h1>
<p>
    Bonjour, </br>
    Nous sommes ravis de vous accueillir sur les prémices d'un futur jeu MEUPORG-3D-SHOOTER-OPENWORLD entièrement développé en ASP-NET
</p>
<p>Pour l'instant vous pouvez retrouver sur notre site la création de personnage</p>
<p>Créer, éditer, supprimer et préparez vous a vivre une aventure époustouflante !</p>