@model Moji.ViewModels.PersonnageViewModel

@{
    ViewData["Title"] = "Create";
}
    <div class="creerEditer">
        <h1>Créer</h1>

        <h4>Personnage</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Save">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                                     
           <div class="form-group">
                        <label asp-for="RaceId" class="col-md-2 control-label"></label>
                        <div class="col-md-5">
                            <select asp-for="RaceId" asp-items="@Model.RaceItems" class="form-control"></select>
                            <span asp-validation-for="RaceId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClasseId" class="col-md-2 control-label"></label>
                        <div class="col-md-5">
                            <select asp-for="ClasseId" asp-items="@Model.ClassItems" class="form-control"></select>
                            <span asp-validation-for="ClasseId" class="text-danger"></span>
                        </div>

                    <div class="form-group">
                        <input type="submit" value="Créer" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Retour à la liste de personnage</a>
        </div>
    </div>
